body {
    width: 100%;
    margin: 0;
    padding: 0;
 
}

.card-body {
    text-align: left;
    
}

.card-img-top {
    max-height: 200px; /* Ajusta la altura máxima de las imágenes si es necesario */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor */
    
}

main{
    background-color: aqua;
    flex: 1;
    overflow-y: auto;
}



